<% include ./partials/header.ejs %>

<div class="ui main text container">
    <div class="ui huge header">Ideas</div>
    <div class="ui top attached segment">
        <div class="ui divided items">
            <% blogs.forEach(function(blog){ %>
                <div class="item">
                    
                    <div class="content">
                        <a class="header" href="/blogs/<%= blog._id %>"><%= blog.title %></a>
                        <div class="meta">
                            <span><%= blog.created.toDateString() %></span>
                        </div>
                        <div class="description">
                            <%if(blog.body.length != "undefinde"){ %>
                            <p><%- blog.body.substring(0, 100)%>......</p>
                            <% } %>
                        </div>
                        <div class="extra">
                                <div class="ui animated basic purple button" tabindex="0">
                                    <a href="/blogs/<%=blog._id %>" style="color: purple">
                                        <div class="visible content">Read More</div>
                                        <div class="hidden content">
                                            <i class="right arrow icon"></i>
                                        </div>
                                    </a>
                                    
                                </div>
                            <!-- <a class="ui floated basic violet button" href="/blogs/<%= blog._id %>">
                                Read More
                                <i class="right chevron icon"></i>
                            </a> -->
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</div>


<% include ./partials/footer.ejs %>